*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: #000;
  
}

.content{
  /*font-family:noto sans kr ;*/
  font-family: 'noto sans kr';
}
.title{
  font-family: 'Kaisei HarunoUmi', sans-serif;
}
.linetitle{
  font-family: 'Kaisei HarunoUmi', sans-serif;
}

.img{
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
}

#container {
  width: 100%;
  height: 100%;
  
}

.page1{
  background: linear-gradient(0deg, #000000 16.85%, rgba(0, 0, 0, 0) 53.86%),url('../image/04 1.png')no-repeat center;
  width: 100%;
  height: 1097px;
  background-size: cover;
}
.page_title{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EFE1D6;
  margin: 0 auto;
  flex-wrap: wrap;
}

.page_title>.page_title1{
  font-size: 60px;
  margin-left: -50%;
 

}
.page_title>.page_title2{
  font-size: 60px;
  
}
.page_title>.page_title3{
  font-size: 100px;
  margin-right: -50%;
}






.textbox>.title {
  font-size: 60px;
  color: #EFE1D6;
}
.textbox>.content {
  font-size: 18px;
  color: #EFE1D6;
}
.textbox>.linebox {
  width: 100%;
  display: flex;
  align-items: center;
}
.textbox>.linebox>.linetitle {
  font-size: 20px;
  color: #EFE1D6;
}
.textbox>.linebox>.line {
  height: 2px;
  margin-right: 20px;
  background: #EFE1D6;
}
.ch1 {
  width: 100%;
  height: 560px;
  display: flex;
  padding: 0px 200px 0px 200px;
  margin-top: 200px;
}
.ch1>.textbox {
  width: 720px;
  height: 100%;
  padding: 0px 140px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ch1>.textbox>.title {
  margin-top: 50px;
}
.ch1>.textbox>.linebox>.line {
  width: 215px;
}
.ch1>.img>.imgbox {
  width: 800px;
  height: 100%;
  background-color: #555;
  border: 2px solid #EFE1D6;
  background-image: url('../image/image_1584012333775_750\ 1번.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}


.ch2{
  width: 100%;
  height: 560px;
  display: flex;
  margin: 800px 0;
  padding: 0 200px 0 200px;
}
.ch2>.img>.imgbox{
  height: 100%;
  width: 800px;
  border: 2px solid #EFE1D6;
  background-color: antiquewhite;
  background-image: url('https://i.pinimg.com/564x/53/5a/ae/535aaee8d82c28950c26a0b72c83f2ce.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  
}
.ch2>.textbox{
  width: 720px;
  height: 100%;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ch2>.textbox>.title{
  margin-top: 150px;
}
.ch2>.textbox>.linebox>.line {
  width: 345px;
}
.ch3{
  width: 100%;
  height: 560px;
  display: flex;
  margin-bottom:500px ;
  padding: 0 200px 0 200px;
}

.ch3>.textbox {
  width: 720px;
  height: 100%;
  padding: 0px 140px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ch3>.textbox>.title {
  margin-top: 20px;
}
.ch3>.textbox>.linebox>.line {
  width: 175px;
}

.ch3>.img>.imgbox {
  width: 800px;
  height: 100%;
  background-color: #555;
  border: 2px solid #EFE1D6;
  background-image: url('https://i.pinimg.com/564x/d3/7b/7d/d37b7d1ecad8ea1ad8aa427debb38182.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;


}

footer{
  width: 100%;
  height: 1000px;
  background-color: aquamarine;
}

/* 미디어쿼리 */



@media  (min-width:768px) and (max-width:1024px){
 
  .ch1, .ch3{
    height: 1120px;
    flex-direction: column-reverse;
  }
  .ch2 {
    height: 1120px;
    flex-direction: column;
  }
  .ch1>.img, .ch2>.img, .ch3>.img{
   
    width: 100%;
    height: 50%;
 
  }
 
  .ch1>.textbox, .ch2>.textbox, .ch3>.textbox{
    width: 100%;
    height: 50%;
    padding: 0 0;
  }
  /*
  .ch1{
    height: 1120px;
    flex-direction: column;
  }
  .ch1>.textbox {
    height: 50%;
    width: 80vw;
  }
  .ch1>.img {
    height: 50%;
    margin-top: 80px;
    width: 50.9vh;
    
  }
  .ch1>.img>.imgbox {
    height: 50vw;
    margin-top: 80px;
  }
  
  .ch2{
    display: grid;
    grid-template-areas: none
    "i1"
    "i2"
    "t1"
    ;
  
  }
  
  .ch2>.img {
    height: 50%;
    margin-top: 80px;
    width: 50.9vh;
    grid-area: i1;
    
  }
  .ch2>.img>.imgbox {
    height: 50vw;
    margin-top: 80px;
    grid-area: i2;
  }
  
  .ch2>.textbox {
    height: 50%;
    width: 80vw;
    grid-area: t1;
    margin-top: -300px;
    margin-left: -150px;
  }



  .ch3{
    height: 1120px;
    flex-direction: column;
  }
  .ch3>.textbox {
    height: 50%;
    width: 80vw;
  }
  
  .ch3>.img {
    height: 50%;
    margin-top: 80px;
    width: 50.9vh;
    
  }
  .ch3>.img>.imgbox {
    height: 50vw;
    margin-top: 80px;
  }
  */
}
@media  (min-width:320px) and (max-width:768px){
  
}